@media (max-width: 320px) {
    .section__newMenu {
        padding-top: 24px;
        position: relative;
    }
    .h2 {
        font-weight: bold;
        font-size: 1.1875rem;
        color: #231f20;
    }
    .block__newMenu {
        width: 100vw;
        height: auto;
        display: flex;
        overflow: hidden;
        margin-top: 16px;
    }
    .img__position {
        position: absolute;
        z-index: -1;
        top: 35px;
        left: 13px;
    }
}
