@media (max-width: 320px) {
    .shop__wrapper {
        padding-top: 12px;
    }

    .shop__h2 {
        font-weight: 800;
        font-size: 1.625rem;
        color: var(--yellow-color);
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .block__sauce_table {
        margin-top: 30px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 6px;
    }
    .h2__shop_add {
        margin-top: 22px;
    }
    .h2__shop_add,
    .h3__shop {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 85%;
        color: var(--yellow-color);
    }
    .h3__shop {
        margin-top: 30px;
    }
    .btn__left {
        margin-bottom: 18px;
    }
    .h3__promo {
        margin-top: 33px;
        font-weight: 600;
        font-size: 20px;
        line-height: 85%;
        color: #ff2e65;
    }

    .summa__shop {
        margin-top: 30px;
        font-weight: 600;
        font-size: 1.3125rem;
        line-height: 81%;
        color: var(--black-color);
        width: 100%;
        display: flex;
        gap: 36px;
    }
    .summa__shop span {
        font-weight: 800;
        font-size: 1.625rem;
        text-align: right;
        color: var(--yellow-color);
    }
}
