@media (max-width: 320px) {
    .sections__actions {
        padding-top: 21px;
    }
    .h2__actions {
        font-weight: 700;
        font-size: 1.625rem;
        color: var(--yellow-color);
    }
}
