@media (max-width: 320px) {
    .block-wrapper__productDesc {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 25px;
    }
    .productDesc_top {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .productDesc_top img {
        width: 83.57%;
    }
    .productDesc_middle {
        margin-top: 14px;
    }
    .productDesc_middle p:first-of-type {
        font-weight: 800;
        font-size: 1.125rem;
        line-height: 111%;
        color: #797979;
        text-align: center;
    }
    .productDesc_middle p:last-of-type {
        font-weight: 500;
        font-size: 0.6875rem;
        line-height: 164%;
        color: #686466;
        margin-top: 9px;
    }
    .productDesc_bottom {
        display: flex;
        margin-top: 23px;
        flex-direction: row;
        justify-content: space-between;
        width: 87.14%;
        align-items: center;
    }
    .productDesc_bottom > p {
        font-weight: 700;
        font-size: 1.375rem;
        line-height: 86%;
        color: var(--black-color);
    }
    .btn__productDesc {
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 200%;
        color: #473e43;
        width: 126px;
        height: 36px;
    }
}
