.slider {
    padding-top: 48px; /**/
    display: flex;
    align-items: center;
    width: 100%;
}

.block__slider {
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 1120px;
}
.block__arrow {
    position: absolute;
    height: 45px; /**/
    width: 100%;
    justify-content: space-between;
    top: 50%;
    left: 0px;
    display: flex;
    flex-direction: row;
}
.arrow {
    width: 45px; /**/
    height: 100%;
    border-radius: 50%;
    background-color: var(--yellow-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow_right {
    transform: rotate(180deg);
}
.image__slide {
    width: 550px; /**/
    height: 312px; /**/
}
.slide {
    opacity: 0;
    transition-duration: 1s ease;
    position: relative;
    z-index: -2;
}

.slide.active {
    display: flex;
    justify-content: center;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .slider {
        padding-top: 30px; /**/
    }

    .block__arrow {
        height: 31px; /**/
    }
    .arrow {
        width: 31px; /**/
    }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
    .slider {
        padding-top: 30px; /**/
    }

    .block__arrow {
        height: 31px; /**/
    }
    .arrow {
        width: 31px; /**/
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .slider {
        padding-top: 26px;
    }

    .block__arrow {
        height: 28px;
        top: 85px;
    }
    .arrow {
        width: 28px;
    }

    .image__slide {
        width: 100%;
        height: 206px;
    }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
    .slider {
        padding-top: 20px;
    }
    .arrow {
        width: 35px;
        height: 70%;
    }
    .image__slide {
        width: 90%;
        height: 275px;
    }
    .slide.active {
        width: 95%;
    }
}
@media screen and (max-width: 320px) {
    .slider {
        padding-top: 12px;
    }
    .block__arrow {
        top: 48px;
    }
    .arrow {
        width: 25px;
        height: 50%;
    }
    .image__slide {
        width: 100%;
        height: 124px;
    }
}
